@model MotelBooking.Models.Room
@using MotelBooking.Models

@{
    var roomList = ViewBag.Rooms as List<Room>;
}


@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

<div class="container mt-4">

    <h2>Add Room</h2>

    <form asp-action="Create" method="post" class="card p-3 mb-4">

        <input asp-for="RoomNumber" class="form-control mb-2" placeholder="Room Number" />
        <input asp-for="RoomType" class="form-control mb-2" placeholder="Room Type" />

        <input asp-for="PricePerHourly" class="form-control mb-2" placeholder="Hourly Price" />
        <input asp-for="PricePerNight" class="form-control mb-2" placeholder="Night Price" />
        <input asp-for="PricePerDay" class="form-control mb-2" placeholder="Day Price" />

        <input asp-for="ImageUrl" class="form-control mb-2" placeholder="Image URL" />

        <label>
            <input asp-for="IsAvailable" /> Available
        </label>

        <button type="submit" class="btn btn-success mt-2">Save</button>
    </form>

    <h3>Room List</h3>

    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>No</th>
                <th>Type</th>
                <th>Hourly</th>
                <th>Night</th>
                <th>Day</th>
                <th>Available</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @if (roomList != null && roomList.Count > 0)
            {
                foreach (var item in roomList)
                {
                    <tr>
                        <td>@item.RoomID</td>
                        <td>@item.RoomNumber</td>
                        <td>@item.RoomType</td>
                        <td>@item.PricePerHourly</td>
                        <td>@item.PricePerNight</td>
                        <td>@item.PricePerDay</td>
                        <td>@item.IsAvailable</td>

                        <td>
                            <a asp-controller="Room"
                               asp-action="Edit"
                               asp-route-id="@item.RoomID"
                               class="btn btn-primary btn-sm">
                                Edit
                            </a>

                            <a asp-controller="Room"
                               asp-action="Delete"
                               asp-route-id="@item.RoomID"
                               class="btn btn-danger btn-sm">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" class="text-center">No rooms yet</td>
                </tr>
            }
        </tbody>
    </table>

</div>